b a {
color: #000;
}
p{
    color: blue;
}
p a{
    color: rgb(255, 162, 0);
}
div a{
    color: rgb(255, 162, 0);
    
}
nav a {
    background-color: yellow;
    color: rgb(67, 12, 12);
}
ul li b a{
    color: red;
}
ul > ul > span > li{
    color: blue;
    list-style: none;
}
ul ul li a{
    color: rgb(255, 0, 0);
}
ul ul li {
    color: blue;

}